APP_NAME=AI Data Analyst Assessment

SECRET_KEY=change_this_to_a_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_URL=sqlite:///./assessment.db


APP_NAME=AI Data Analyst Assessment

SECRET_KEY=change_this_to_a_long_random_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_URL=sqlite:///./assessment.db

OPENAI_API_KEY=
GEMINI_API_KEY=AQ.Ab8RN6KaMeqwbPI_80CZztVBsUAnlYVBidLMPOKbDLCC5NnGfw

# Email Configuration
# Email Configuration
MAIL_USERNAME=2022blaiml03@axiscolleges.in
MAIL_PASSWORD=ejtjulhnvcttxnrs
MAIL_FROM=2022blaiml03@axiscolleges.in
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False

DEV_MODE=False