fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
jinja2
python-multipart
openai
google-generativeai
reportlab
fastapi-mail
openpyxl
pandas
email-validator
aiosqlite